<!-- Header -->
{{view Spotbox.Views.Header}}
<!-- End Header -->

<!-- Container -->
<div class="container-fluid">

  <!-- Row -->
  <div class="row-fluid">

    <!-- Player -->
    <div id="player-container" class="span3">
      {{view Spotbox.Views.Airfoil}}
      {{view Spotbox.Views.PlaybackControls id="playback-controls"}}
    </div>
    <!-- End Player -->

    <!-- Lists -->
    <div id="lists-container" class="span9">

      <div class="row-fluid">
        <div class="span12">
          <!-- Alert -->
          {{view Spotbox.Views.Alert}}
          <!-- End Alert -->
        </div>
      </div>

      <!-- Tab Bar -->
      <ul id='tab-bar' class='nav nav-tabs'>
        <li class="active"><a id="queue-tab" href="#queue" data-toggle="tab">Queue</a></li>
        <li><a href="#search" id="search-tab" data-toggle="tab">Search</a></li>
        <li><a href="#recent" id="recent-tab" data-toggle="tab">Recent</a></li>
        {{view Spotbox.Views.PlaylistTab}}
      </ul>
      <!-- End Tab Bar -->

      <!-- Tab Content -->
      <div class="tab-content">
        <div class="tab-pane active" id="queue">{{view Spotbox.Views.Queue}}</div>
        <div class="tab-pane" id="search">{{view Spotbox.Views.SearchResults}}</div>
        <div class="tab-pane" id="recent">{{view Spotbox.Views.Recent}}</div>
      </div>
      <!-- End Tab Content -->

    </div>
    <!-- End Lists -->

  </div>
  <!-- End Row -->
</div>
<!-- End Container -->
