<li {{bindAttr class="displayingQueue:active"}}>
  <a href="#queue" {{action "setDisplayQueue" on="click"}}>Queue</a>
</li>
<li {{bindAttr class="displayingSearch:active"}}>
  <a href="#search" {{action "setDisplaySearch" on="click"}}>Search</a>
</li>
<li {{bindAttr class="displayingRecent:active"}}>
  <a href="#recent" {{action "setDisplayRecent" on="click"}}>Recent</a>
</li>
