<td>{{model.name}}</td>
<td>{{model.display_artist_name}}</td>
<td>{{model.display_duration}}</td>
<td>{{model.album.name}}</td>
<td>{{model.album.released}}</td>
<td><a class="btn btn-success" {{action "enqueue"}}>Enqueue</a></td>
