{{view Spotbox.HeaderView}}

<div class="container-fluid">

  <div class="row-fluid">

    <!-- Player -->
    <div class="span3">
      <div class="well">
        {{view Spotbox.AirfoilView}}
        {{view Spotbox.PlayerView}}
      </div>
      {{view Spotbox.UsersView}}
    </div>
    <!-- End Player -->

    <div class="span9">
      <ul class="nav nav-tabs">
        {{#view view.tabView name="queue"}}
          <a>Queue</a>
        {{/view}}
        {{#view view.tabView name="search"}}
          <a>Search</a>
        {{/view}}
      </ul>
      {{outlet}}
    </div>
  </div>
</div>
