{{view Spotbox.HeaderView}}

<div class="container-fluid">
  <div class="row-fluid">

    <!-- Player -->
    <div class="span3">
      <div class="well">
        {{outlet airfoil}}
        {{outlet player}}
      </div>
      {{outlet users}}
    </div>
    <!-- End Player -->

    <div class="span9">
      {{outlet messages}}
      <ul class="nav nav-tabs">
        {{#view view.tabView name="queue"}}
          <a>Queue</a>
        {{/view}}
        {{#view view.tabView name="search"}}
          <a>Search</a>
        {{/view}}
        {{#view view.tabView name="likes"}}
          <a>Likes</a>
        {{/view}}
        {{#view view.tabView name="dislikes"}}
          <a>Dislikes</a>
        {{/view}}
      </ul>
      {{outlet}}
    </div>
  </div>
</div>
