<div class="container-fluid">
  {{view Spotbox.Views.Airfoil}}
  {{view Spotbox.Views.PlaybackControls}}
  {{view Spotbox.Views.Playlists}}
  {{view Spotbox.Views.Search}}
  {{view Spotbox.Views.SearchResults}}
  {{view Spotbox.Views.CurrentTrack}}
  {{view Spotbox.Views.Queue}}
  {{view Spotbox.Views.Recent}}
</div>
