<!-- Header -->
{{view Spotbox.HeaderView}}
<!-- End Header -->

<!-- Container -->
<div class="container-fluid">

  <!-- Row -->
  <div class="row-fluid">

    <!-- Player -->
    <div class="span3">
      <div class="well">
        {{view Spotbox.AirfoilView}}
        {{view Spotbox.PlayerView}}
      </div>
      {{view Spotbox.UsersView}}
    </div>
    <!-- End Player -->

    <!-- Lists -->
    <div class="span9">
      <div class="row-fluid message-container">
      </div>
      {{outlet}}
    </div>
    <!-- End Lists -->

  </div>
  <!-- End Row -->
</div>
<!-- End Container -->
