{{#if showContent}}
  <thead>
    <tr>
      <th>Track</th>
      <th>Artist</th>
      <th>Time</th>
      <th>Album</th>
      <th>Year</th>
    </tr>
  </head>
  <tbody>
    {{#each content}}
      <tr>
        <td>{{name}}</td>
        <td>{{artistName}}</td>
        <td>{{displayDuration}}</td>
        <td>{{album.name}}</td>
        <td>{{album.released}}</td>
      </tr>
    {{/each}}
  </tbody>
{{/if}}
