<div id="control-well" class="well" {{bindAttr class="someDontLike halfDontLike mostDontLike"}}>
  <div class="controls">
    {{#view playbackControl id="play-control"}}
      <i {{bindAttr class="playbackIcon"}}></i>
    {{/view}}

    {{#view nextTrackControl id="next-control"}}
      <i class="icon-forward"></i>
    {{/view}}
  </div>
</div>

{{#view playbackProgress id="track-progress"}}
  <div class="bar" {{bindAttr style="style"}}></div>
{{/view}}

<div id= "track-info" class="well" {{bindAttr class="someDontLike halfDontLike mostDontLike"}}>
  <h2>{{model.name}}</h2>
  <h3>{{model.artistName}} -
    <em>{{model.albumName}} ({{model.releaseDate}})</em>
  </h3>
</div>
