{{#if view.showContent}}
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Time</th>
      <th>Album</th>
      <th>Year</th>
      <th>User</th>
      <th class="span2">ETA</th>
    </tr>
  </head>
  <tbody>
    {{#each view.content}}
      {{#view view.queueItem contentBinding="this"}}
        <tr>
          <td>{{name}}</td>
          <td>{{artistName}}</td>
          <td>{{displayDuration}}</td>
          <td>{{album.name}}</td>
          <td>{{album.released}}</td>
          <td>{{view.username}}</td>
          <td>{{eta}}</td>
        </tr>
      {{/view}}
    {{/each}}
  </tbody>
{{/if}}
