{{#if showContent}}
  <thead>
    <tr>
      <th>Track</th>
      <th>Artist</th>
      <th>Time</th>
      <th>Album</th>
      <th>Year</th>
      <th class="span2">ETA</th>
    </tr>
  </head>
  <tbody>
    {{#collection collectionView}}
      <td>{{content.name}}</td>
      <td>{{content.artistName}}</td>
      <td>{{content.displayDuration}}</td>
      <td>{{content.album.name}}</td>
      <td>{{content.album.released}}</td>
      <td>{{content.eta}}</td>
    {{/collection}}
  </tbody>
{{/if}}
