<table class="table table-striped track-list">
  <div class"btn-group">
    {{#view categoryButton name="itunes"}}
      {{name}}
    {{/view}}
    {{#view categoryButton name="spotify"}}
      {{name}}
    {{/view}}
  </div>
  {{#if showContent}}
    <thead>
      <tr>
        <th><a href="#" {{action "setSortKey"}} data-key="name">Track</a></th>
        <th><a href="#" {{action "setSortKey"}} data-key="artistName">Artist</a></th>
        <th><a href="#" {{action "setSortKey"}} data-key="displayDuration">Time</a></th>
        <th><a href="#" {{action "setSortKey"}} data-key="albumName">Album</a></th>
        <th><a href="#" {{action "setSortKey"}} data-key="releaseDate">Year</a></th>
        <th></th>
      </tr>
    </head>
    <tbody>
      {{#each content}}
        {{#view Spotbox.Views.SearchResultsItem contentBinding="this"}}
          <td>{{content.name}}</td>
          <td>{{content.artistName}}</td>
          <td>{{content.displayDuration}}</td>
          <td>{{content.album.name}}</td>
          <td>{{content.album.released}}</td>
          <td><a class="btn btn-success" {{action "enqueue"}}>Enqueue</a></td>
        {{/view}}
      {{/each}}
    </tbody>
  {{/if}}
</table>
